.container-fluid {
  background: rgba(99, 99, 99, 0.28);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
#inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoAP {
  width: 100px;
  height: 80px;
}

#linkedin,
#git,
#twitter,
#facebook,
#instagram {
  width: 35px;
  height: 35px;
  padding: 5px;
  justify-content: center;
}

button {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  background: linear-gradient(
    104.64deg,
    rgba(255, 255, 255, 0.4) 21.4%,
    rgba(255, 255, 255, 0.1) 71.15%
  );
  box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  #logoAP {
    width: 160px;
    height: 120px;
  }

  #linkedin,
  #git,
  #twitter,
  #facebook,
  #instagram {
    width: 55px;
    height: 55px;
  }

  button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
  }
}

@media (min-width: 992px) {
  #logoAP {
    width: 200px;
    height: 140px;
  }

  #linkedin,
  #git,
  #twitter,
  #facebook,
  #instagram {
    width: 70px;
    height: 70px;
  }

  button {
    width: 120px;
    height: 50px;
    font-size: 26px;
    border-radius: 40px;
  }
}

@media (min-width: 1400px) {
  #logoAP {
    width: 250px;
    height: 180px;
  }

  #linkedin,
  #git,
  #twitter,
  #facebook,
  #instagram {
    width: 80px;
    height: 80px;
  }

  button {
    width: 180px;
    height: 80px;
    font-size: 38px;
  }
}
