.container-fluid {
  background: rgba(99, 99, 99, 0.28);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
}
#inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoAP {
  width: 24vw;
}

#linkedin,
#git,
#twitter,
#facebook,
#instagram {
  width: 7vw;
  padding: 5px;
  justify-content: center;
}

button {
  box-sizing: border-box;
  width: 14.5vw;
  background: linear-gradient(
    104.64deg,
    rgba(255, 255, 255, 0.4) 21.4%,
    rgba(255, 255, 255, 0.1) 71.15%
  );
  box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  #logoAP {
    width: 21vw;
  }

  #linkedin,
  #git,
  #twitter,
  #facebook,
  #instagram {
    width: 5vw;
  }

  button {
    width: 13vw;
    font-size: 1.25rem;
    border-radius: 30px;
  }
}

@media (min-width: 992px) {
  #logoAP {
    width: 20vw;
  }

  button {
    width: 12vw;
    font-size: 1.625rem;
    border-radius: 40px;
  }
}

@media (min-width: 1400px) {
  #logoAP {
    width: 18vw;
  }

  button {
    width: 13vw;
    font-size: 2.375rem;
  }
}
