#skills-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.skills-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  color: #ffffff;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

#skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: none;
    color: #ffffff;
  }

#circle-skills{
  height: 150px;
  margin: 0px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

@media (min-width: 992px) {

  #main-container {
    justify-content: space-evenly;
  }

  #circle-skills {
    height: 170px;
  }
}

@media (min-width: 1200px) {
  #circle-skills {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1366px) {
  .skills-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .skills-title {
    font-size: 3rem;
  }
}