<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"  id="skills-sec">
      <h2 class="skills-title">Hard & Soft Skills:</h2>
      <button type="button" class="plus" (click)="onOpenModal('add')" *ngIf="isLogged">
        <a>
          <i class="fa fa-plus"></i> <span class="sr-only">(current)</span>
        </a>
      </button>
    </div>
  </div>
  <div id="main-container">
    <div class="row" *ngFor="let skills of skilles">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"  id="skills">
        <div id="buttons">
          <button *ngIf="isLogged" class="button">
            <a (click)="onOpenModal('edit', skills)" data-placement="top" data-toggle="tooltip"
              data-original-title="Edit"><i class="fa fa-pencil"></i>
            </a>
          </button>
          <button *ngIf="isLogged" class="button">
            <a (click)="onOpenModal('delete', skills)" data-placement="top" data-toggle="tooltip"
              data-original-title="delete"><i class="fa fa-times"></i>
            </a>
          </button>
        </div>
        <div id="circle-skills">
          <circle-progress 
          [percent]="skills.percentSkills" 
          [radius]="100" 
          [outerStrokeWidth]="14"
          [innerStrokeWidth]="7" 
          [outerStrokeGradient]="true"
          [outerStrokeColor]="'#000000'"
          [outerStrokeGradientStopColor]="'#4b2de6'" 
          [innerStrokeColor]="'#e7e8ea'" 
          [animation]="true"
          [animationDuration]="400" 
          [showImage]="true"
          [imageSrc]="skills.imgSkills"
          [imageWidth]="80"
          [imageHeight]="80"
          [responsive]="true"
          ></circle-progress>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal add skills -->
<div class="modal fade" id="addSkillsModal" tabindex="-1" role="dialog" aria-labelledby="addSkillsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSkillsModalLabel">Añadir Skill</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddSkills(addForm)">
          <div class="form-group">
            <label for="nombreSkills">Skills: </label>
            <input type="text" ngModel name="nombreSkills" class="form-control" id="nombreSkills" placeholder="Skills"
              required />
          </div>
          <div class="form-group">
            <label for="percentSkills">Porcentaje: </label>
            <input type="text" ngModel name="percentSkills" class="form-control" id="percentSkills"
              placeholder="Porcentaje" required />
          </div>
          <div class="form-group">
            <label for="imgSkills">Imagen: </label>
            <input type="text" ngModel name="imgSkills" class="form-control" id="imgSkills" placeholder="Imagen"
              required />
          </div>
          <div class="modal-footer">
            <button type="button" id="add-skills-form" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit skills -->
<div class="modal fade" id="editSkillsModal" tabindex="-1" role="dialog" aria-labelledby="editSkillsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSkillsModalLabel">Edit Skills</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="nombreSkills">Skill: </label>
              <input type="text" ngModel="{{ editSkills?.nombreSkills }}" name="nombreSkills" class="form-control"
                id="nombreSkills" placeholder="Skills" />
              <input type="hidden" ngModel="{{ editSkills?.idSkills }}" name="idSkills" class="form-control"
                id="idSkills" placeholder="" />
            </div>
            <div class="form-group">
              <label for="percentSkills">Porcentaje: </label>
              <input type="text" ngModel="{{ editSkills?.percentSkills }}" name="percentSkills" class="form-control"
                id="percentSkills" placeholder="Porcentaje" />
            </div>
            <div class="form-group">
              <label for="imgSkills">Imagen: </label>
              <input type="text" ngModel="{{ editSkills?.imgSkills }}" name="imgSkills" class="form-control"
                id="imgSkills" placeholder="Imagen" />
            </div>
            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button (click)="onUpdateSkills(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Add changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete skills -->
<div class="modal fade" id="deleteSkillsModal" tabindex="-1" role="dialog" aria-labelledby="deleteSkillsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSkillsModalLabel">Delete Skills</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <p>Estas seguro de querer eliminar el skill?</p>
          <div class="modal-footer">
            <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">
              No
            </button>
            <button (click)="onDeleteSkills(deleteSkills!.idSkills)" data-dismiss="modal" class="btn btn-primary">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>