html {
margin: 0;
padding: 0;
}

body {
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(25, 75, 97, 1) 50%,
    rgb(7, 175, 209) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.row {
  justify-content: center;
}